<div class="card mb-3">
  <div class="dash-hero card-body text-center">
   <h2><span style="color:#C11111; font-size:1em"> Update activity</h2>
  </div>
</div>

<%= render 'form', workout: @workout %>


