<div class="container-fluid">
    <div class="row justify-content-end">
    <div class="col-6">
        <div class="container" id="home-container">
            <div class="jumbotron text-right">
                <div class="row">
                <div class="col-sm">
                <h1 class="display-4">Welcome to <span style="color:#C11111; font-size:1em">Vita</span>Log</h1><br>
                <p class="lead text-right">Your one stop shop for logging all your activites.</p>
                <p class="lead text-right">100% FREE. Forever.</p>
                </div>
                </div>
                <div class="row">                
                <div class="col-sm">
                <p>Log in to access your account or sign up to create an account.</p>
                </div>
                </div>
                <a class="btn btn-outline-success btn-lg" href="#" role="button">Sign up!</a>
            </div>
        </div>
    </div>
</div>





