@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";



.navbar {
    background-color: black !important;
    opacity: 0.8;
       
}

.navbar .navbar-collapse {
    text-align: center;
  }

#home-container {
    margin-top: 25px;
    opacity: 0.9;
    
    
}

.navbar_logo {

    height: 30px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 10px;
}

.card-icon {

    height: 40px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 10px;
}

.navbar {
  
    margin-left: 0px;
    padding-left: 0px;
   
}

.bg-light {
    flex-shrink: none;
    opacity: 0.9; 
      
  }

  .jumbotron {
      background: none;
  }

.card {
    opacity: 0.93;
    color: black;
}

.form-group {

    color: black;
    font-weight: bold;
}

body {
    background: url("background2.jpeg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
    background-size: cover;
        -o-background-size: cover;
    padding-bottom: 12em;
    
    
    }

.card-columns {

    display: inline-flexbox;
    
 
}



